body {
  margin: auto;
  font-family: "Helvetica", sans-serif;
  color: black;
  background-color: white;
  font-size: 30px;
  width: 100%;
  }

  header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 64px;
    align-items: center;
    background-color: white;
  }

/*logo!*/
header img {
  height: 50px;
  padding-left: 24px;
  padding-top: 32px;
  }

.flex-container1{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

  nav {
    text-align: right;
    flex-grow: 1;
  }

  nav span {
    display: inline-block;
    padding: 20px 10px;
  }

  a {
    color: black;
  }

  /* END of logo*/

  .flex-container2{
    display: flex;
    flex-wrap: start;
    align-items: center;
    background-color: lightgrey;
    padding: 32px 40px 32px 24px;
    width: 100%

    }
/*
.logo  ul {
    margin-right: 1rem;
  }
*/
.logo ul li {
    margin-right:1rem;
    align-items: center;
    padding: 0 1rem;
    text-align: right;
    display: inline;
    }

.hello img{
    width: 60%;
    }

blockquote{
text-align: center;
margin-left: 0;
}

.flex-container3{
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 600px;
      background-color: white;
      padding: 24px;


}

  nav {
    text-align: right;
    flex-grow: 1;
  }
  .textbox {
    color: black;
    padding: 24px;
}


  h1{
    font-size: 60px;
    align-items: center;
    margin-left: 100px;
    padding-right: 24px;
    font-weight: bold;
  }
  h2{
    font-size: 40px;
  }

.banner img{
  Padding: 24px;
}
